img, div { behavior: url(iepngfix.htc) }
body{
	margin: 0px 0px 0px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	scrollbar-base-color: #7D7D7D;
	scrollbar-arrow-color: #7D7D7D;
	scrollbar-3dlight-color: #7D7D7D;
	scrollbar-darkshadow-color: #7D7D7D;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
}
#iframe_border{
	position: absolute;
	/*left:248px;*/
	left: 878px;
	top:69px;
	background-image:url(imagens/iframe_background.png);
	width:617px;
	height:465px;
}
#copy{
	position: absolute;
	left:850px;
	top:80px;
	width:14px;
	height:260px;
	background-image:url(imagens/copy.png);
	display:none;
}
#div_iframe{
	position: absolute;
	left:260px;
	top:79px;
	width:587px;
	height:435px;
	display:none;
}
#noiva{
	position: absolute;
	/*left:0px;*/
	top:136px;
	background-image:url(imagens/noiva.png);
	width:334px;
	height:465px;
	left: -334px;
}
#logo{
	position: absolute;
	/*left:35px;*/
	top:11px;
	background-image:url(imagens/logo.png);
	width:176px;
	height:121px;
	left: -176px;
}
#topo{
	position: absolute;
	/*left:351px;*/
	top:18px;
	background-image:url(imagens/topo.png);
	width:387px;
	height:56px;
	left:878px;
}
#menu{
	position: absolute;
	/*left:250px;*/
	top:540px;
	width:580px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#999999;
	left:878px;
}
.menu_option{
	width:80px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
#loading{
	position: absolute;
	left:0px;
	top:0px;
	background-image:url(imagens/loading.jpg);
	width:878px;
	height:600px;
}
#img_loading{
	position: absolute;
	left:360px;
	top:290px;
}




































.titulosecao{
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	text-align:left;
}
td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.menuesquerdo:link {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menuesquerdo:visited {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menuesquerdo:hover {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight:bold;
}
.menuesquerdo:active {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}