.row_ct { margin: 0 0 5px; }

.row_ct label { font-weight: bold; display: block; }

.contact_email_checkbox { margin: 15px 0; }

#contact_text {
	width: 500px;	
}

.class_suffix {
	color: red;
	padding: 5px 0 0 5px;
}

div.class_suffix .input-box {
	border: 1px dotted red; 
}

#captcha {
	background: #181818;
	padding: 3px;
	border: 1px solid #2a2a2a;
}

.requiredField {
	margin: 5px 0;
}

#captcha_code {
	max-width: 200px;
	margin-top: 10px;
	display: block;
}